h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28pt;
    text-align: center;

}

h5 {
    font-size: 14pt;

    /* text-indent: 1.5em; */
}

li {
    padding: 10px;
    font-size: 12pt;
}

.menu {

    /* position: fixed; */
    background-color: rgba(255, 255, 255, 0.8);
    /* min-width: 100%; */
    /* font-size: 15pt; */
    /* margin: 5px; */
    padding: 15px 25px 15px 25px;
    /* align-content: center; */
    /* text-align: end; */

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2030;

}

a {
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;

}

.imgsaudacao {
    background-image: url('https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_960_720.jpg');
    background-size: cover;
    min-height: 50vh;
    color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    /* align-items:flex-end; */
    text-align: center;
    padding: 30px 20px;
    /* margin-top: 40px; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.imgsaudacao1 {
    font-size: 35pt;
    /* width: 300px; */

}

.rodape {
    padding: 10px;
    align-items: baseline;
    text-align: center;
}

.imagempost {
    padding: 30px;
    height: 200px;
    width: 300px;
    border-radius: 15%;
    transition: 1s;
}

.surgir{
    animation: fadeIn 5s ease;   
}

.imgefeito:hover {
    /* vertical-align: middle; */
    border-style: none;
    width: 350px;
    height: 250px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.flex-container {
    display: flex;
    /* width: 600px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items:baseline; */
    /* background-color: yellow; */
    /* max-width: inherit; */
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divdetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: aqua; */
}

.img-fluid {
    padding: 20px;
    height: 500px;
    width: 600px;
    border-radius: 15%;

}

.sombra {
    color: rgb(32, 31, 31);
    text-shadow: rgb(144, 138, 138) 0.1em 0.1em 0.3em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}